[submodule "ply"]
	path = ply
	url = https://github.com/laerreal/ply.git
[submodule "canvas2svg"]
	path = canvas2svg
	url = https://github.com/WojciechMula/canvas2svg.git
[submodule "debug/pyelftools"]
	path = debug/pyelftools
	url = git@nasredin.intra.ispras.ru:qemu/pyelftools.git
	branch = lazy
[submodule "pyrsp"]
	path = pyrsp
	url = git@nasredin.intra.ispras.ru:qemu/pyrsp.git
