[submodule "ply"]
	path = ply
	url = git@github.com:laerreal/ply.git
[submodule "canvas2svg"]
	path = canvas2svg
	url = git@github.com:WojciechMula/canvas2svg.git
[submodule "debug/pyelftools"]
	path = debug/pyelftools
	url = git@github.com:ispras/pyelftools.git
[submodule "watchgod"]
	path = watchgod
	url = git@github.com:samuelcolvin/watchgod.git
[submodule "pyinotify"]
	path = pyinotify
	url = git@github.com:seb-m/pyinotify.git
[submodule "inotify-tools"]
	path = inotify-tools
	url = git@github.com:rvoicilas/inotify-tools.git
[submodule "pyrsp"]
	path = pyrsp
	url = git@github.com:stef/pyrsp.git
[submodule "unidiff"]
	path = unidiff
	url = git@github.com:matiasb/python-unidiff.git
	branch = master
[submodule "I3S"]
	path = I3S
	url = git@github.com:ispras/I3S.git
[submodule "agent"]
	path = agent
	url = git@github.com:ispras/qdt-guest-agent.git
[submodule "llv"]
	path = llv
	url = git@github.com:ispras/low-level-virt.git
