[submodule "ply"]
	path = ply
	url = https://github.com/laerreal/ply.git
[submodule "canvas2svg"]
	path = canvas2svg
	url = https://github.com/WojciechMula/canvas2svg.git
[submodule "debug/pyelftools"]
	path = debug/pyelftools
	url = https://github.com/ispras/pyelftools.git
[submodule "pyrsp"]
	path = pyrsp
	url = https://github.com/stef/pyrsp.git
[submodule "unidiff"]
	path = unidiff
	url = https://github.com/matiasb/python-unidiff.git
	branch = master
[submodule "I3S"]
	path = I3S
	url = https://github.com/ispras/I3S.git
