article.docx
article.html
article.pdf
C2600.png
main.png
Q35.png
report.aux
report.log
report.nav
report.out
report.pdf
report.snm
report.toc
report.vrb
device-model.png
generation.png
workflow.png
workflow-old.png
c2600_pci_c_chunks.png
machine-example.png
legend.png
source-example.png
Q35-h.png
heuristics.png

